{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Welcome to Class Booking Platform</h1>
            <p class="lead">Book professional services with ease</p>
            <a href="#" class="btn btn-primary btn-lg mt-3">Browse Services</a>
        </div>
    </div>
</div>
{% endblock %}
